{% extends 'things/base.html' %}

{% block content %}
<br/>
  <section class="page-section current" id="currentthings">
    <div class="container">

        <!-- Current Things Heading -->
        {% if things %}
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
              {{ things.count }} Current Thing{{ things.count|pluralize }}
            </h2>
        {% else %}
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
              Current Things
            </h2>
        {% endif %}

        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Things Grid Items -->
        <div class="row justify-content-center mt-5">
            <div class="col-md-6 col-lg-4 mb-5">
              {% if things %}
                <div class="list-group-flush">
                  {% for newthings in things %}
                    <a href="{% url 'viewthing' newthings.id %}" class="list-group-item" style="text-decoration:none"><p class="text-uppercase font-weight-bold mt-4">
                    {% if newthings.important %}<i>{% endif %} {{ newthings.title }} {% if newthings.important %}</i>{% endif %}
                    {% if newthings.memo %} - {{ newthings.memo}} {% endif %}
                    </p>
                    </a>
                  {% endfor %}
                </div>
              {% else %}
              <div class="container text-center">
                <p class="text-uppercase font-weight-bold mt-4">
                  You don't have any Things.
                </p>
                <p class="text-uppercase font-weight-bold mt-4">
                  Let's get productive.
                </p>
              <br>
              <!-- <div class="text-center mt-4"> -->
                <a class="btn btn-xl btn-outline-dark" href="{% url 'createthings' %}">Create</a>
              </div>

            {% endif %}
            </div>
        </div>
      </div>
    </section>

<!--
<ul>
  {% for newthings in things %}
  <li>
    <a href="{% url 'viewthing' newthings.id %}">
    {% if newthings.important %}<b>{% endif %} {{ newthings.title }} {% if newthings.important %}</b>{% endif %}
    {% if newthings.memo %} - {{ newthings.memo}} {% endif %}
    </a>
  </li>
  {% endfor %}
</ul>
-->

{% endblock %}
